<template name="DigitalConcierge">
  <section id="digital-concierge" class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-push-6">
          <img class="img-responsive img-content" src="https://www.filepicker.io/api/file/r8YDe38T4ShPCu9lhclT" />
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6">
          <h1>Digital Concierge</h1>
          <p>PlusMore provides hotel guests with an easy way to find great experiences in the area.</p>
          <p>We work with venues to provide hotel guests with VIP service and exclusive perks when they arrive.</p>
          <p class="visible-xs">
            Experiences Include: <br/>
            Dinner Reservations, Tourist Attractions, Live Concerts, Nightlife, Shopping, Sporting Events
          </p>
          <p class="hidden-xs">Experiences Include:</p>
          <div class="container-fluid hidden-xs">
            <div class="row">
              <div class="col-xs-6">
                <div class="example">Restaurants</div>
                <div class="example">Attractions</div>
                <div class="example">Live Concerts</div>
              </div>
              <div class="col-xs-6">
                <div class="example">Nightlife</div>
                <div class="example">Shopping</div>
                <div class="example">Sporting Events</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>