<template name="EndToEnd">
  <section id="end-to-end" class="text-center content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>PlusMore is an End-to-End Solution</h1>
          <p>We provide you with everything, from hardware to software.</p>
        </div>
      </div>
      <div id="solutions" class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="cases" class="thumbnail">
            <div class="caption">
              <h2>
                Cases
              </h2>
            </div>
            <img src="https://www.filepicker.io/api/file/rCyy1fvSZSTBWBeOWTKo?cache=true">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="software" class="thumbnail">
            <div class="caption">
              <h2>
                Software
              </h2>
            </div>
            <img src="https://www.filepicker.io/api/file/S9YVzC3yRW6gTGldIdAE?cache=true">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="tablets" class="thumbnail">
            <div class="caption">
              <h2>
                Tablets
              </h2>
            </div>
            <img src="https://www.filepicker.io/api/file/FxHssbKRMN2tExRf2Rgu?cache=true">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div id="mobile-app" class="thumbnail">
            <div class="caption">
              <h2>
                Mobile App
              </h2>
            </div>
            <img src="https://www.filepicker.io/api/file/HsaYTVZtTTSTxQc2F2ar?cache=true">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>