<template name="HotelServices">
  <section id="hotel-services" class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-push-6">
          <img class="img-responsive img-content" src="https://www.filepicker.io/api/file/LQVpVp4ESq6wYFgDV0bA?cache=true" />
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6">
          <h1>Hotel Services</h1>
          <p>With PlusMore, guests can make requests to your staff with just a few taps.</p>
          <p class="visible-xs">
            Guest Requests Include: <br/>
            Room Service, House Keeping, Wake Up Call, Valet Service, Transportation, Check In
          </p>
          <p class="hidden-xs">
            Guest Requests Include:
          </p>
          <div class="container-fluid hidden-xs">
            <div class="row">
              <div class="col-xs-6">
                <div class="example">Room Service</div>
                <div class="example">House Keeping</div>
                <div class="example">Valet Service</div>
              </div>
              <div class="col-xs-6">
                <div class="example">Wake Up Call</div>
                <div class="example">Transportation</div>
                <div class="example">Check In</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>