<template name="BottomLine">
  <section id="bottom-line" class="content">
    <div class="container">
      <div class="row">
        <header class="col-xs-12">
          <h1>Improve your bottom line</h1>
        </header>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/HykwsUhXS8KcAF1rrCOf" alt="Revenue">
            <div class="caption">
              <h3>Generate More Revenue</h3>
              <p>
                Use Plusmore to promote your services with built in upsells
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/iDkSOUzsSbubOGsYisBb" alt="Analytics">
            <div class="caption">
              <h3>Analytics</h3>
              <p>
                Use our analytics dashboard to make smarter operating decisions
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/Dz4yPOHCT6Su3ThXMM0A" alt="Minimize Call Volume">
            <div class="caption">
              <h3>Minimize call volume</h3>
              <p>
                With PlusMore, your front desk staff can spend less time on the phone and more time with the guests in front of them
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>