<template name="GuestSatisfaction">
  <section id="guest-satisfaction" class="content">
    <div class="container">
      <div class="row">
        <header class="col-xs-12">
          <h1>Increase Guest Satisfaction</h1>
        </header>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/2zcyyQLLTBCXB4Jm3fr8?cache=true" alt="Speed and Convenience">
            <div class="caption">
              <h3>Speed and <br/>Convenience</h3>
              <p>
                Empower your guests with a seamless way to make requests giving them a sense of instant gratification
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/hdIMg0r1QO2ejxISj6lb?cache=true" alt="Information">
            <div class="caption">
              <h3>Concentrated and <br/>valuable information</h3>
              <p>
                With PlusMore, your guests have access to all the information that they need most, right at their fingertips
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/Dyf1CDIxQdyJ6JJ6vb8J?cache=true" alt="VIP Service">
            <div class="caption">
              <h3>VIP <br/>Service</h3>
              <p>
                Extend your hospitality beyond the walls of your hotel. All PlusMore partners are committed to providing your guests with the excellent service
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>