<template name="MoreInfo">
  <section id="more-info" class="content">
    <div class="container">
      <div class="row">
        <header class="col-xs-12">
          <h1>All of this, PlusMore</h1>
        </header>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/KTDe8KXmTRy1GhrMSOfL" alt="Know your guests">
            <div class="caption">
              <h3>Know more about <br/>your guests</h3>
              <p>
                Know more about your guests to provide smarter service and educated recommendations based on existing data
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/lK2pJOMeSKOeBfAefeY8" alt="Concierge Requests">
            <div class="caption">
              <h3>Increase Concierge <br/>Requests</h3>
              <p>
                Significantly increase the amount of concierge requests fulfilled by your hotel
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="thumbnail">
            <img src="https://www.filepicker.io/api/file/t8INdGkrT5S8b8nWMaGv" alt="Hotel Network">
            <div class="caption">
              <h3>Join a growing <br/>hotel network</h3>
              <p>
                Join a network of hotel partners who work together to recieve priority service and VIP treatment for their guests
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>