<template name="NewExperience">
  <section id="new-experience" class="content dark">
    <div class="container">
      <div class="row">
        <header class="col-xs-12">
          <h1>New technology, new experience</h1>
          <p>
            Over 90% of guests use PlusMore during their stay. Provide your guests with a new and exciting type of amenity
          </p>
        </header>
        <div class="col-xs-12">
          <img class="img-responsive img-content" src="https://www.filepicker.io/api/file/lfhctp9hQZWavA6FMzyA" />
        </div>
      </div>
    </div>
  </section>
</template>