<template name="ProductIntro">
  <div id="intro" class="full-screen-container">
    <div class="item background-cover" style="background-image: url('https://www.filepicker.io/api/file/e0Vc8rSRliOWOLoDwP75?cache=true')">
      <div class="container">
        <div class="row">
          <div class="carousel-caption-center">
            <h1>State of the art technology</h1>
            <p>
              PlusMore uses cutting edge technology to bring a new level of service for your guests and staff.
            </p>
            <button class="btn btn-lg btn-round btn-primary js-request-demo">
              REQUEST A DEMO
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 hidden-xs hidden-sm">
            <img class="img-responsive" src="https://www.filepicker.io/api/file/LQVpVp4ESq6wYFgDV0bA?cache=true" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>