@import '/client/style/imports.import.less';

section#guest-satisfaction {
  .thumbnail {
    img {
      max-height: 400px;
      width: auto;
    }
  }
}

section#new-experience {
  background: url('https://www.filepicker.io/api/file/dins2H2lTY2EXIibj6SS') center center no-repeat;
  background-size: cover;
}

#bottom-line {
  .thumbnail {
    img {
      max-height: 150px;
      width: auto;
    }
  }
}

section#more-info {
  background: url('https://www.filepicker.io/api/file/JRFsdqJPThe51VVOe8LM') center center no-repeat;
  background-size: cover;
}

#more-info {
  .thumbnail {
    img {
      max-height: 150px;
      width: auto;
    }
  }
}