@import '/client/style/imports.import.less';

section#new-experience {
  background: url('https://www.filepicker.io/api/file/ysW0a8WQI2ljvm7Q6PBQ') center center no-repeat;
  background-size: cover;
}

#bottom-line {
  .thumbnail {
    img {
      max-height: 150px;
      width: auto;
    }
  }
}

section#more-info {
  background: url('https://www.filepicker.io/api/file/PvojHh1FRMzWPDmTUSS6') center center no-repeat;
  background-size: cover;
}

#more-info {
  .thumbnail {
    img {
      max-height: 150px;
      width: auto;
    }
  }
}