<template name="Footer">
  <footer id="footer" class="text-center light">
    <div class="container">    
      <div class="row">
        
        <div id="links" class="col-xs-12 col-sm-3">
          <h2>Links</h2>
          <p>
            <div>
              <a href="{{pathFor 'Home'}}">Overview</a>
            </div>
            <div>
              <a href="{{pathFor 'Product'}}">Product</a>
            </div>
            <div>
              <a href="{{pathFor 'Product'}}">Company</a>
            </div>
            <div>
              <a href="{{pathFor 'Home'}}">Privacy Policy</a>
            </div>
            <div>
              <a href="{{pathFor 'Home'}}">Terms of Use</a>
            </div>
          </p>
        </div>
      
        <div class="col-xs-12 col-sm-2 col-sm-push-7">
          <div class="footer-logo">
            <i class="icon icon-logo"></i>  
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-push-2">
            <div class="company-info">
              <h2>PlusMore</h2>
              <address>
                1150 Avenue of the Americas <br>
                New York, NY 10036<br>
                +1 (917) 475-1919
              </address>
              <p class="copyright muted">© 2014 PlusMore Inc.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>