<template name="Footer">
  <footer id="footer" class="text-center light">
    <div class="container">    
      <div class="row">
        <div class="col-lg-12">
            <div class="footer-logo">
              <h2>PlusMore</h2>
              <p>
                <div>
                  1150 Avenue of the Americas
                </div>
                <div>
                  New York, NY 10036
                </div>
                <div>+1 (917) 475-1919</div></p>
              <br>
              <p class="muted">© 2014 PlusMore Inc.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>